<section class="mc-signup bg-gray py-4 px-4 md:px-0">
    <div class="container">
        <h2 class="mc-title">{{ __('Op de hoogte blijven?') }}</h2>
        <p class="block mb-4">Schrijf u in voor de nieuwsbrief:</p>
        <div id="mc_embed_signup mt-4">
            <form action="https://wonenindefonteinkerk.us19.list-manage.com/subscribe/post?u=19a20b893f4e073bea51faaf5&amp;id=515533842b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="mc-grid-group">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="text-input required email" id="mce-EMAIL" placeholder="E-mailadres">
                        </div>
                    </div>
                    <div class="mc-group-fifty-fifty">
                        <div class="mc-field-group">
                            <input type="text" value="" name="FNAME" class="text-input required" id="mce-FNAME" placeholder="Voornaam">
                        </div>
                        <div class="mc-field-group">
                            <input type="text" value="" name="LNAME" class="text-input required" id="mce-LNAME" placeholder="Achternaam">
                        </div>
                    </div>
                    <div class="mc-group-sixty-thirty">
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE3" class="text-input" id="mce-MMERGE3" placeholder="Straat">
                        </div>
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE4" class="text-input" id="mce-MMERGE4" placeholder="Huisnummer">
                        </div>
                    </div>
                    <div class="mc-group-thirty-sixty">
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE5" class="text-input" id="mce-MMERGE5" placeholder="Postcode">
                        </div>
                        <div class="mc-field-group">
                            <input type="text" value="" name="MMERGE6" class="text-input" id="mce-MMERGE6" placeholder="Woonplaats">
                        </div>
                    </div>
                    <div class="mc-field-group input-group">
                        <strong>Geïnteresseerd in </strong>
                        <ul><li><input type="checkbox" value="1" name="group[77618][1]" id="mce-group[77618]-77618-0"><label for="mce-group[77618]-77618-0">appartementen van ca. 85 tot 95 m2</label></li>
                            <li><input type="checkbox" value="2" name="group[77618][2]" id="mce-group[77618]-77618-1"><label for="mce-group[77618]-77618-1">appartementen van ca. 105 tot 130 m2</label></li>
                            <li><input type="checkbox" value="4" name="group[77618][4]" id="mce-group[77618]-77618-2"><label for="mce-group[77618]-77618-2">appartementen van ca. 140 tot 165 m2</label></li>
                        </ul>
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_19a20b893f4e073bea51faaf5_515533842b" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Aanmelden" name="subscribe" id="mc-embedded-subscribe" class="mc-button"></div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Begin Mailchimp Signup Form -->

<!--End mc_embed_signup-->
