.mc-field-group {
  width: 100%;

  & .text-input {
    background: #fff;
    color: #000;
    padding: 12px 28px;
    width: 100%;
  }

  li.relative {
    padding-left: 2rem;
  }

  & input[type="checkbox"] {
    display: none;
    + label {
      cursor: pointer;
    }
    + label::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid #5f88a8;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    &:checked {
      + label::before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.mc-title {
  @apply mb-2 text-secondary;
  font-size: 2rem;
  font-weight: bold;
}

.mc-grid-group {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.mc-group-fifty-fifty {
  @extend .mc-grid-group;
  grid-template-columns: 1fr;

  @screen md {
    grid-template-columns: 1fr 1fr;
  }
}

.mc-group-sixty-thirty {
  @extend .mc-grid-group;
  grid-template-columns: 1fr;
  @screen md {
    grid-template-columns: 6fr 3fr;
  }
}

.mc-group-thirty-sixty {
  @extend .mc-grid-group;
  grid-template-columns: 1fr;
  @screen md {
    grid-template-columns: 3fr 6fr;
  }
}

.mc-field-group {
  & input[type="checkbox"] {
    margin-right: 20px;
  }
}

.mc-button {
  @apply bg-secondary px-4 py-2 text-white;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  transition: all 225ms ease;

  &:hover {
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.2);
  }
}

.lot-prev-next-button {
  @apply px-4 text-white relative;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: none;

  &::after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    content: ' ';
    background: white;
    height: 1px;
    transition: all 225ms ease;
  }

  &:hover {
    &::after {
      width: 0;
    }
  }
}
