<header class="header" id="header" data-template="helpers:header.twig">
    <div class="container py-2 px-4 lg:px-0">
        {% do action('fonk/views/header/pre') %}
        <div class="flex items-center">
            {% set logo = Image(theme.theme_mod('custom_logo')) %}
            <figure class="custom-logo-wrapper">
                <a class="custom-logo-link" href="/">
                    <img src="{{ logo.src }}" class="custom-logo" alt="{{ logo.alt }}">
                </a>
            </figure>

            <div class="menu-wrapper">
                <button class="js-menu-button menu-button lg:hidden">
                    <i class="fas fa-bars"></i>
                    <small>
                        Menu
                    </small>
                </button>

                {{ include('partials/header/navbar.html.twig') }}
            </div>
        </div>
        {% do action('fonk/views/header/post') %}
    </div>
</header>
