// purgecss ignore
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500;1,600&display=swap');

.content {
  & a {
    @apply text-secondary;
    text-decoration: underline;
  }

  & ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
}

html, body {
  font-family: "Montserrat", sans-serif;
}
