.menu-wrapper {
  margin-left: auto;
  position: relative;
}

.nav {
  @apply bg-gray;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: max-content;
  width: 350px;
  padding: 1rem 2rem;
  transform: scale(0);
  transition: all 225ms ease;
  transform-origin: top right;
  z-index: 10;

  &.active {
    transform: scale(1);
  }

  @screen lg {
    position: static;
    display: flex;
    transform: none;
    background: white;
    widows: auto;
  }
}

.menu-button {
  @apply text-primary;
  font-size: 1.5rem;
}
