.menu-wrapper {
  margin-left: auto;
  position: relative;
}

.nav {
  @apply bg-gray;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: max-content;
  width: 350px;
  padding: 1rem 2rem;
  transform: scale(0);
  transition: all 225ms ease;
  transform-origin: top right;
  z-index: 10;

  &.active {
    transform: scale(1);
  }

  @screen lg {
    position: static;
    display: flex;
    transform: none;
    background: white;
    width: auto;
    padding: 2rem 0;
  }
}

.menu-button {
  @apply text-primary;
  font-size: 1.5rem;

  > small {
    font-size: 12px;
    display: block;
  }
}

.submenu {
  @screen lg {
    transform: scale(0, 1);
    position: absolute;
    top: 100%;
    left: -8px;
    padding: 14px 8px;
    background: #f1efe7;
    transition: all 226ms ease;
    box-shadow: 0 3px 6px rgba(51, 51, 51, 0.2);

    &:hover {
      display: block;
    }
  }
}

.nav-wrapper {
  &:hover {
    .submenu {
      @screen lg {
        transform: scale(1);
      }
    }
  }
}
