.cool-bg {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    content: ' ';
    clip-path: polygon(0px 60px, 0px 100%, 100% 100%, 100% 0);
    z-index: 1;
    pointer-events: none;
    background: theme('colors.gray');

    * {
      position: relative;
      z-index: 2;
    }

    @screen lg {
      height: 120px;
      clip-path: polygon(0px 120px, 0px 100%, 100% 100%, 100% 0);
    }
  }
}

.woning-attributes {
  table {
    width: 100%;
    text-align: left;
  }

  tr {
    & th {
      font-weight: 600;
    }

    &:first-of-type ~ & {
      & th,
      & td {
        padding-top: .5rem;
      }
    }
  }

  & th,
  & td {
    padding: .5rem .5rem 0 0;
  }

  h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: theme('colors.secondary');
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}

.woning-description {
  margin: auto 0;
  > * {
    margin-bottom: .5rem;
  }
  h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: theme('colors.secondary');
    margin-bottom: 1rem;
    line-height: 1.4;
  }

  ul {
    list-style: none;

    li {
      position: relative;

      &::before {
        content: '-';
        position: absolute;
        left: -1rem;
      }
    }
  }
}

.title-banner {
  color: theme('colors.secondary');
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.875rem;
}

.hero {
  figure {
    height: 100%;
  }

  img {
    max-height: 100%;
  }
}

.woning-floor_plan {
  img {
    height: 150px;
  }
}

